
.offer {
    background: var(--gray-50);
    padding: 0 0 40px;
}

.offer-h1 {
    color: #000;
    font-weight: 900;
    padding: 40px 0 10px;
}

.offer-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    background-color: #ffffff;
    box-shadow: 10px 5px 5px rgb(121, 121, 121);
}

.offer-select select,
.offer-form input[type="date"],
.offer-form input[type="number"],
.offer-form input[type="text"],
.offer-form input[type="email"],
.offer-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.offer-select select {
    appearance: none;
    -webkit-appearance: none;
    background: url('down-arrow.png') no-repeat right center;
    background-size: 20px 20px;
}

.offer-form p {
    margin: 5px 0;
}

.offer-form input[type="date"] {
    line-height: 1.5;
}

.offer-form textarea {
    resize: vertical;
}

.offer-buttom {
    text-align: center;
}

.offer-buttom button {
    width: 400px;
    color: #fff;
    height: 35px;
    border: none;
    border-radius: 7px;
    background-color: var(--green-500);
}

.offer-buttom button:hover {
    background-color: var(--green-600);
}
