/* Navbar Start */
nav {
  padding: 5px 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-brand {
  width: 100px;
  text-decoration: none;
  color: rgb(24, 24, 24);
  font-weight: 600;
  font-size: 17px;
}

.nav-menu {
  display: flex;
}

.nav-menu > li {
  list-style-type: none;
  margin-left: 4px;
}

.nav-menu > li > a {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  padding-top: 10px;
  text-decoration: none;
  color: var(--dark);
  border-radius: 8px;
  transition: all 0.3s;
}

.navbar-menu > li:hover > a,
.nav-menu > li > a:hover {
  background-color: var(--gray-50);
}

.navbar-menu > li > a i {
  margin-left: 4px;
}

.navbar-menu-header p {
  color: var(--dark);
  font-weight: 600;
}

.navbar-menu-close {
  text-decoration: none;
  font-size: 20px;
}

.navbar-submenu-wrapper {
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  padding: 24px 8px;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 32px;
  background-color: var(--white);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: 10;
}

.nav-menu > li:hover .navbar-submenu-wrapper {
  visibility: visible;
  opacity: 1;
}

.navbar-submenu-menu {
  list-style-type: none;
}

.navbar-submenu-menu > li {
  margin-bottom: 4px;
}

.navbar-submenu-menu > li > a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 4px;
  transition: all 0.3s;
  color: var(--dark);
}

.navbar-submenu-menu a:hover {
  background-color: var(--gray-50);
}

.navbar-submenu-menu a.active {
  background-color: var(--green-50);
  color: var(--green-500);
}

.navbar-submenu-content-wrapper {
  display: none;
}

.navbar-submenu-content-wrapper.active {
  display: block;
}

.navbar-submenu-content-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.navbar-submenu-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  list-style-type: none;
}

.navbar-submenu-content > li > a {
  text-decoration: none;
  color: var(--dark);
}

.navbar-submenu-content > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--green-500);
}

.navbar-menu-header,
.navbar-submenu-header,
.navbar-toggle {
  display: none;
}

/* Navbar End */
