@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*,
::after,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --dark: #282828;
  --red-500: #af143e;
  --purple-50: #f0ebfa;
  --purple-500: #47268d;
  --orange-50: #fcf3e7;
  --orange-500: #edab56;
  --gray-50: #f3f3f3;
  --gray-100: #eee;
  --gray-200: #ddd;
  --gray-600: #888;
  --green-50: #d9eded;
  --green-500: #186b6d;
  --green-600: #135657;
  --white: #fff;
}

body {
  color: var(--dark);
  font-family: "Inter", sans-serif;
}

section {
  padding: 0px 0;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: var(--green-500);
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--green-600) !important;
}

.btn-link button:hover {
  color: white !important;
}

a {
  text-decoration: none;
}

.btn i {
  font-size: 16px;
  margin-right: 8px;
}

.container {
  max-width: 1360px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Header start */
header {
  padding: 200px 0 80px;
  position: relative;
}

.header-image::before,
.header-image,
.header-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-image::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.header-image img {
  object-fit: cover;
  object-position: center bottom;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.header-image img.active {
  opacity: 1;
  visibility: visible;
}

.header-wrapper {
  max-width: 720px;
  margin: 0 auto;
  color: var(--white);
}

.header-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: -74px;
}

.header-description {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.header-title,
.header-description {
  text-align: center;
}

.header-form {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
}

.header-form input {
  width: 100%;
  padding: 10px 16px;
  outline: none;
  border: none;
}

.dropdown-content {
  width: 50%;
}

.dropdown-item {
  background-color: rgb(243, 243, 243);
  padding: 10px;
}

.dropdown-content a {
  color: black !important;
  background-color: rgb(243, 243, 243) !important;
  padding-bottom: 7px !important;
}

.dropdown-content a hr {
  margin: 0 !important;
}

.header-image-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}

.header-image-indicator > * {
  width: 12px;
  height: 12px;
  margin: 0 3px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.header-image-indicator > a.active {
  background-color: var(--white);
}

/* Header End */

/* Main intro start */
#section-2 {
  padding: 40px 0 60px;
  background: var(--gray-100);
}

.city-images-txt {
  text-align: center;
  padding: 30px 0 30px;
}

.city-images-txt h1 {
  font-weight: 800;
}

.city-img-all {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.city-img-all img {
  width: 100%;
  border-radius: 0.375rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.city-img-all img:hover {
  transform: scale(1.01);
}

.city-img-center img {
  height: 100%;
}

.city-img-left-right {
  margin-top: 15px;
}

/* Destination Start */
.destination {
  background-color: #f5f5f5;
  padding: 30px 0 30px;
}

.destination-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  padding: 20px 0 7px;
}

.destination-wrapper {
  position: relative;
}

.destination-wrapper:hover .slider-arrow {
  opacity: 1;
  visibility: visible;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-size: 18px;
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  border-radius: 4px;
  text-decoration: none;
}

.slider-arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.slider-arrow.prev {
  left: 0;
}

.slider-arrow.next {
  right: 0;
}

.destination-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 256px;
  overflow-x: auto;
  gap: 24px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.destination-list::-webkit-scrollbar {
  display: none;
}

.destination-list-top {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.destination-list-top img {
  width: 100%;
  height: 200px;
  transition: all 0.3s;
}

.destination-list-top:hover img {
  transform: scale(1.1);
}

.destination-list-content {
  position: relative;
  top: -24px;
  padding: 24px 20px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.destination-list-content-location {
  font-size: 14px;
  color: var(--gray-600);
  margin-bottom: 16px;
}

.destination-list-content-title {
  font-weight: 500;
  color: var(--dark);
  text-decoration: none;
  font-size: 15px;
}

.destination-list-content-rating {
  display: flex;
  align-items: center;
  color: var(--orange-500);
  margin: 12px 0 16px;
}

.title-ds {
  display: flex;
  justify-content: space-between;
}

.destination-more {
  padding: 22px;
  font-size: 20px;
  font-weight: 600;
}

.destination-list-content-price {
  font-size: 14px;
  padding-top: 15px;
  color: var(--gray-600);
}

.destination-list-content-price span {
  color: var(--dark);
  font-size: 16px;
  font-weight: 600;
}

.destinations-list-top-favourite {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destinations-list-top-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--red-500);
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
}

/* Destination End */

/* Home page Contact */

.end-section-contact {
  padding: 70px 0 70px;
  background-color: var(--gray-50);
}

.end-section-contact h3 {
  text-align: center;
  padding-bottom: 50px;
  margin: 0 !important;
  font-weight: 700;
}

.input-contact {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 20px;
  /* border: 1px solid #ccc; */
  box-shadow: 10px 5px 5px rgb(121, 121, 121);
  /* border-radius: 5px; */
  background-color: #fff;
}

.input-contact input,
.input-contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none !important;
}

.input-contact textarea {
  resize: vertical;
}

.contact-butom {
  width: 150px;
  height: 35px;
  border: none !important;
  border-radius: 6px;
  background-color: var(--green-500);
  color: #fff;
}

.contact-butom:hover {
  background-color: var(--green-600);
}

/* Main intro end */

/* about section start */
.about-all-div {
  display: flex;
  padding: 20px 0 40px !important;
}

.about-all-div div {
  padding: 0 10px 0;
}

.about-h1 {
  padding: 25px 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.about-img {
  width: 100%;
  border-radius: 10px;
}

.about-p-right {
  padding: 15px 0 0;
}

.about-p-left {
  padding: 0 0 1px;
}

.about-hr {
  display: none;
}

/* about section end */

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1160px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 940px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .testimonial-list {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial-list > div {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .navbar-submenu-content-wrapper,
  .navbar-submenu-menu-wrapper,
  .nav-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 10;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  .navbar-submenu-header,
  .navbar-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--gray-100);
  }

  .navbar-submenu-content-wrapper.navbar-active,
  .navbar-submenu-menu-wrapper.navbar-active,
  .nav-menu-wrapper.navbar-active {
    opacity: 1;
    visibility: visible;
  }

  .navbar-submenu-wrapper {
    visibility: visible;
    opacity: 1;
  }

  .navbar-submenu-content {
    grid-template-columns: 1fr;
    padding: 0 16px;
  }

  .navbar-toggle {
    display: block;
    text-decoration: none;
    color: var(--dark);
    font-size: 24px;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu > li > a {
    border-radius: 0;
    justify-content: space-between;
  }

  .nav-menu > li > a i {
    transform: rotateZ(-90deg);
  }

  .navbar-submenu-content-title {
    padding: 0 16px;
    margin-top: 16px;
    font-size: 16px;
  }

  .header-title {
    font-size: 32px;
  }

  .feature-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial-list {
    grid-template-columns: 1fr;
  }

  .footer-links > * {
    margin-bottom: 24px;
    flex-direction: column;
    flex-basis: 100%;
  }
  .input-contact {
    width: 100% !important;
  }
}

@media screen and (max-width: 575px) {
  .feature-wrapper {
    grid-template-columns: 1fr;
  }
  .about-all-div {
    display: inline-block;
  }
  .about-hr {
    display: block;
  }
}
